footer{
    background-color: #6e8c03;
    color: white;
    display: flex;
    align-items: center;
}


  footer .contacto{
    display: flex;
    align-items: center;
    width: 300px;
  }

  footer ul{
    display: flex;
    margin-left: 350px;
    margin-right: 5px;
    font-size: 14px;
    flex-direction: column;
    list-style-type: none;
  }

  footer h2{
   margin-left: 50px
  }
  

  footer h3{
    margin-left: 430px;
    font-size: 20px;
    margin-top: 10px;
  }

  footer p{
    margin-left: 50px;
  }

  footer a{
    color: white;
    text-decoration: none;

  }


footer i{
  margin-left: 50px;
}

.pie-pagina{
  width: 100%;
  background-color: #6e8c03;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 200px;
  margin-left: 0px;

}

.pie-pagina .grupo-1 .box h2{
  color: white;
  margin-bottom: 25px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .red-social a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: #afbf34;
  text-align: center;
  margin-left: 50px;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}

@media screen and (max-width: 800px){
  .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  
}
  








    





